<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Diary">
    <select id="searchDiaryByClassId" parameterType="int" resultType="diaryResponse">
        SELECT *
        FROM diary
        WHERE classId = #{classId}
    </select>

    <select id="searchDetailById" parameterType="int" resultType="diaryResponse">
        SELECT *
        FROM diary
        WHERE diaryId = #{diaryId}
    </select>

</mapper>