<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Diary">
    <select id="searchDiaryByClassId" parameterType="int" resultType="diaryResponse">
        select diaryId, title, content, regDate, id, nickname from diary
        inner join user
        on diary.userId = user.userId
        where diary.classId=#{classId}
    </select>

    <select id="searchDetailById" parameterType="int" resultType="diaryResponse">
        select diaryId, title, content, regDate, id, nickname
        from diary
        inner join user
        on diary.userId = user.userId
        where diaryId=#{diaryId}
    </select>

    <delete id="deleteById" parameterType="Map">
        DELETE
        FROM diary
        WHERE diaryId=#{diaryId} AND userId=#{userId}
    </delete>

    <insert id="createDiary" parameterType="Map">
        INSERT INTO diary(title, content, userId, classId)
        VALUES(#{title}, #{content}, #{userId}, #{classId})
    </insert>

    <update id="updateDiary" parameterType="Map">
        UPDATE diary
        SET title=#{title}, content=#{content}, regDate = now()
        WHERE userId=#{userId} AND diaryId=#{diaryId}
    </update>

</mapper>