<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="School">
    <insert id="createClass">
        insert into school_class (schoolName, schoolGrade, schoolClass, schoolPwd, nickname)
        values (#{schoolName}, #{schoolGrade}, #{schoolClass}, #{schoolPwd}, #{nickname})
    </insert>

    <select id="getCurrentId" resultType="int">
        SELECT classId
        FROM school_class
        ORDER BY classId DESC LIMIT 1
    </select>

    <select id="checkPwd" resultType="schoolResponse" parameterType="schoolJoinRequest">
        SELECT *
        FROM school_class
        WHERE schoolPwd = #{schoolPwd}
          AND classId = #{classId}
    </select>


    <select id="searchByKeyword" parameterType="String" resultType="schoolResponse">
        SELECT *
        FROM school_class
        WHERE nickname LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="searchById" parameterType="int" resultType="schoolResponse">
        select *
        from school_class
        where classId IN (select classId
                           from school_class_has_user
                           where userId = #{user_id})
    </select>

</mapper>