<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="School">
    <insert id="createClass">
        insert into
            school_class (schoolName, schoolGrade, schoolClass, schoolPwd, nickname)
        values
            (#{schoolName}, #{schoolGrade}, #{schoolClass}, #{schoolPwd}, #{nickname})
    </insert>

    <select id="getCurrentId" resultType="int">
        SELECT
            class_id
        FROM
            school_class
        ORDER BY
            class_id DESC
        LIMIT 1
    </select>

</mapper>