<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.ktds.haru.api.user.presentation.dto.request.LoginRequestDTO" alias="loginDTO"/>
        <typeAlias type="com.ktds.haru.api.user.presentation.dto.request.UserRequestDTO" alias="userDTO"/>
        <typeAlias type="com.ktds.haru.api.user.presentation.dto.response.UserResponseDTO" alias="userResponseDTO"/>
        <typeAlias type="com.ktds.haru.api.school.presentation.dto.request.SchoolUserDTO" alias="schoolUser"/>
        <typeAlias type="com.ktds.haru.api.school.presentation.dto.request.SchoolJoinRequestDTO" alias="schoolJoinRequest"/>
        <typeAlias type="com.ktds.haru.api.school.presentation.dto.request.SchoolRequestDTO" alias="schoolRequest"/>
        <typeAlias type="com.ktds.haru.api.school.presentation.dto.response.SchoolResponseDTO" alias="schoolResponse"/>
    </typeAliases>
</configuration>